.tabs {margin-bottom:2em; text-align:center; width:100%}
.tabs a, .tabs select {margin-right:25px;}
table, th, td {
         border: 1px solid black;
}
table {
        border-collapse:collapse;

}
td, th {
        padding:2px;
}
.col5 {
        float:left;
        width:19%;
}
.col5 h2 {
        font-size:20px;
}
.zipItem{
        font-weight:bold;
}
.nameItem{
        margin-left:1em;	
}
.input td{
        padding:0;
}
@font-face {
	font-family: "Bryant";
src: url(../resources/Bryant-Regular.ttf);
}

@font-face {
	font-family: "Bryant";
src: url(../resources/Bryant-Medium.ttf);
     font-weight:bold;
}


body{
font-family:"Bryant", sans-serif;
background-color:#c6eeec;
}
a, input[type=button], input[type=submit]{
	-moz-box-shadow: 0px 4px 0px 0px #338288;
	-webkit-box-shadow: 0px 4px 0px 0px #338288;
	box-shadow: 0px 4px 0px 0px #338288;
	background-color:#ffffff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
border:1px solid #aaaaaa;
display:inline-block;
cursor:pointer;
color:#5b6566;
font-family:"Bryant";
font-weight:bold;
font-size:14px;
padding:3px 7px;
text-decoration:none;
}
.tabs a {
    font-size:17px;
padding:4px 9px;     
}
a:hover {
	background-color:transparent;
color:black;
border:1px solid #338288;
}
